.header{
  width: 100%;
  height: auto;
}

.navbar {
  width: 100%;
  height: auto;
  background-color: var(--navColor);
  padding: var(--space6);
}

.nav-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 100px;
  height: auto;
}

.menu-toggle {
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--headingTextColor);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--space10);
}

.nav-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--headingTextColor2);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Hide menu */
.nav-menu {
  display: none;
}

/* Show menu */
.nav-menu.active {
  display: flex;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--space9);
  padding: 0;
  margin: 0;
}

.nav-list a {
  text-decoration: none;
  color: var(--bodyTextColor2);
  font-size: var(--fontSize-selarge);
  font-weight: var(--fontWeight-medium);
  transition: .3s;
}

.nav-list a:hover {
  color: var(--navLinkhoverColor);
}

.nav-actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space6);
}

.btn {
  /* width: 100%; */
  padding: var(--space3) var(--space8);
  border-radius: var(--radius8);
  font-size: var(--fontSize-medium);
  font-weight: var(--fontWeight-semiBold);
  cursor: pointer;
  transition:
    transform 180ms ease,
    box-shadow 180ms ease,
    background-color 180ms ease;
}

.login {
  border: none;
  background-color: transparent;
}

.login:hover {
   color: var(--navLinkhoverColor);
}

.getStarted {
  border: none;
  background: var(--getStartedBgColor);
}

.getStarted:hover {
  background: #c5fa52;
}

/* Device responsiveness */

@media (min-width:1024px){
  .navbar {
    width: 100%;
    height: auto;
    background-color: var(--navColor);
    padding: var(--space11);
    position: fixed;
    top: 0;
    z-index: 1000;
  }

  .nav-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
  }

  /* Hide hamburger */
  .menu-toggle{
    display: none;
  }

 /* Show menu permanently */
  .nav-menu{
    width: 100%;
    position: static;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    flex: 1;
    padding:0;
  }

  .nav-links{
    flex-direction:row;
    align-items:center;
    gap:2rem;
    
  }

  .nav-actions{
    width: fit-content;
    display: flex;
    flex-direction:row;
    align-items:center;
    gap:1rem;
  }
}
